<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div>
    <ion-item *ngIf="isEdited && !hideForm">
      <button
        ion-button
        item-right
        color="secondary"
        text-center
        block
        (click)="deleteEntry()">Remove this Entry?</button>
    </ion-item>


    <div *ngIf="hideForm">
      <ion-item class="post-entry-message" text-wrap>
        <h2>Success!</h2>
        <p>Maybe you'd like to edit an existing entry or add a new record?</p>
        <p>Simply go back to the home page and select the option you want to pursue.</p>
      </ion-item>
    </div>


    <div *ngIf="!hideForm">
      <form [formGroup]="form" (ngSubmit)="saveEntry()">

        <ion-list>
          <ion-item-group>
            <ion-item-divider color="light">Bill Type *</ion-item-divider>
            <ion-item>
              <ion-select
                placeholder="Choose the Bill Type (Company)..."
                formControlName="bill_type"
                [(ngModel)]="financialBillType">
                <ion-option>Rent</ion-option>
                <ion-option>Water/Gas/Electricity</ion-option>
                <ion-option>Tv/Internet/Phone</ion-option>
                <ion-option>Other</ion-option>
              </ion-select>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Bill Year *</ion-item-divider>
            <ion-item>
              <ion-input
                placeholder="2018"
                type="number"
                formControlName="year"
                [(ngModel)]="financialYear"></ion-input>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
          <ion-item-divider color="light">Bill Month *</ion-item-divider>
          <ion-item>
            <ion-select
              placeholder="Month..."
              formControlName="month"
              [(ngModel)]="financialMonth">
              <ion-option value="01">January</ion-option>
              <ion-option value="02">February</ion-option>
              <ion-option value="03">March</ion-option>
              <ion-option value="04">April</ion-option>
              <ion-option value="05">May</ion-option>
              <ion-option value="06">June</ion-option>
              <ion-option value="07">July</ion-option>
              <ion-option value="08">August</ion-option>
              <ion-option value="09">September</ion-option>
              <ion-option value="10">October</ion-option>
              <ion-option value="11">November</ion-option>
              <ion-option value="12">December</ion-option>
            </ion-select>
          </ion-item>
        </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Bill Cost *</ion-item-divider>
            <ion-item>
              <ion-input
                type="string"
                placeholder="000.00"
                formControlName="cost"
                [(ngModel)]="financialCost"></ion-input>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Bill Day Due *</ion-item-divider>
            <ion-item>
              <ion-input
                type="number"
                placeholder="15"
                formControlName="day_due"
                [(ngModel)]="financialDayDue"></ion-input>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Bill Frequency *</ion-item-divider>
            <ion-item>
              <ion-textarea
                placeholder="Frequency..."
                formControlName="frequency"
                [(ngModel)]="financialFrequency"></ion-textarea>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Bill Status *</ion-item-divider>
            <ion-item>
              <ion-select
                placeholder="Status..."
                formControlName="status"
                [(ngModel)]="financialStatus">
                <ion-option value="Unpaid">Unpaid</ion-option>
                <ion-option value="Paid">Paid</ion-option>
                <ion-option value="Reimbursred - Complete">Reimbursred - Complete</ion-option>
                <ion-option value="Check Notes">Check Notes</ion-option>
              </ion-select>
            </ion-item>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider color="light">Bill Notes</ion-item-divider>
            <ion-item>
              <ion-textarea
                placeholder="Notes..."
                formControlName="notes"
                rows="4"
                [(ngModel)]="financialNotes"></ion-textarea>
            </ion-item>
          </ion-item-group>


          <ion-item>
            <button
              ion-button
              color="primary"
              text-center
              block
              [disabled]="!form.valid">Save Entry</button>
          </ion-item>

        </ion-list>

      </form>
    </div>
  </div>


</ion-content>
